@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    font-size: 25px;
    color: #ebdbb2;
}


body {
    display: flex;
    margin: 1em;
    padding: 1em;
    background: #1a1b26;

}

ul {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;
    
}


#ul-2 {
    padding-left: 50px ;
}

#ul-3 {
    padding-left: 100px;
}

a:hover {
    color: #A9B1D0;
}

li {
   
    padding: 10px;
}

li:first-child {
    font-size: 30px;
    color: #ad8ee6;
}

a {
    color: #ebdbb2;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    padding-top: 40px;
}

form {

    padding: 20px;
    margin: 20px;
    grid-column: 1/4;
    
    
}



input{
    font-family: 'Ubuntu Mono', monospace;
    background: transparent;
    width: 200px;
    border: none;
    border-bottom: 2px solid #ebdbb2;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #ebdbb2;
    width: 100%;

    
    
}

input:focus {

    outline: none;
    border: none;
    border-bottom: 2px solid #ebdbb2;
    color: #ebdbb2;
    
    
}

input::placeholder {
    text-align: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}